@import './../../../variables.scss';


.drawer {
    background-color: $canvas-color;
}

.drawerAppbar {
    background-color: white;
}

.drawerContent {
    width: 250px;
    max-width: 80vw;
    height: 85vh;
}

.drawerLogo {
    max-height: 40px;
    margin: 0 auto;
    max-width: 80%;
}
