<div style="padding: 40px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8" style="text-align: center;">
            <img src="../../../assets/influenzanet-logo.png" width="80%" alt="influenzanet-logo">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8">
            <mat-form-field class="full-width">
              <mat-label i18n="login email | Login field for email">Email</mat-label>
              <input matInput type="email">
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-8">
            <mat-form-field class="full-width">
              <input matInput type="password" i18n-placeholder="login password | Login field for password" placeholder="Password">
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-8" style="text-align: center;">
            <button style="width: 50%;" mat-raised-button color="primary" i18n="login confirm | Button text for starting login">Login</button>
          </div>
          <div class="col-10 col-sm-8" style="text-align: center;">
            <button i18n="login password forgotten | Button text to trigger password forgotten workflow" mat-button
              color="primary">Password
              forgotten</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>