.pageContainer {
  padding: 16px;
}

.button {
  font-size: 1.1em;
}

.centerText {
  text-align: center;
}

.surveyItem {
    cursor: pointer;
  user-select: none;
}

.surveyDescription {
  max-width: 300px;
}
